*{margin: 0; padding: 0;}
ul, li {list-style: none;}
.slide_wrap{
    position: relative;
    width: 1950px;
    margin: 0 auto;
    height: 680px;
    overflow: hidden;
    margin: 0;
    position: relative;
}
.slides{
    position: absolute;
    left: 0; top: 0;
}
.slides.animated{
    transition: 0.5s ease-out;
}
.slides li{
    width: 1950;
    height: 680px;
    background: #ccc;
    float: left;
    border-radius: 8px;
}
/* .slides li:not(:last-child){
    margin-right: 28px;
} */

.arrow .prev,
.arrow .next{
    width: 33px;
    height: 45px;
}
.arrow .prev{
    position: absolute;
    top:32%;
    cursor: pointer;
}

.arrow .next{
    position: absolute;
    top:32%;
    right: 0;
    cursor: pointer;
}

